<div>
  <h2 class="m-b-8" [class.is-over-model]="isOverModel">登 录</h2>
  <div class="full-with">
    <form nz-form class="login-form-wrap" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入任意用户名和密码!">
          <input nzSize="large" [placeholder]="'请输入任意用户名和密码'" type="text" nz-input formControlName="userName" placeholder="用户名" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入任意用户名和密码!">
          <nz-input-group [nzSize]="'large'" [nzSuffix]="suffixTemplate">
            <input autocomplete="on" [placeholder]="'请输入任意用户名和密码'" [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="密码" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <button nz-button nzSize="large" class="full-with m-t-15 btn" [nzType]="'primary'">登 录</button>
    </form>
  </div>
</div>
