<div class="container">
  <div class="jumbotron">
    <h1>一套框架 多种平台 移动端 & 桌面端</h1>
    <p>
      学会用 Angular
      构建应用，然后把这些代码和能力复用在多种多种不同平台的应用上 ——
      Web、移动 Web、移动应用、原生应用和桌面原生应用。
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
