# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
*/node_modules/*
server/admin/node_modules
server/web/node_modules
/admin/node_modules
/web/node_modules
sync.ffs_db
# Other files and folders
.settings/
**/.git
# Executables
*.swf
*.air
*.ipa
*.apk
.tmp.driveupload
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
