@import "./common/var.scss";
@import "./mixins/mixin.scss";



@include b(col) {
    box-sizing: border-box;
    @for $i from 1 through 24 {
        &.z-col-span-#{$i} {
            max-width: (1/24 * $i * 100) * 1%;
            flex: (1/24 * $i * 100) * 1%
        }
        &.z-col-offset-#{$i} {
            margin-left: (1/24 * $i * 100) * 1%
        }
    }
}


// 生成 24 中写法  span=1  span=2 BEM规范