@import './assets/reset.min.css';

/* 全局样式 */
.ant-btn {
    border-radius: 0;

    &.ant-btn-sm {
        border-radius: 0;
    }
}

.ant-input,
.ant-picker {
    border-radius: 0;
}

textarea {
    resize: none;
}