.viking-form {
  .viking-row { 
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    &.viking-row-no-label {
      flex-direction: row-reverse;
    }
    .viking-form-item-label {
      flex-basis: 30%;
      text-align: right;
      padding-right: 20px;
      >label {
        margin-bottom: 0;
      }
      >label.viking-form-item-required:before {
        display: inline-block;
        margin-right: 4px;
        color: $danger;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
      }
    }
    .viking-form-item { 
      flex-basis: 70%;
      position: relative;
      .viking-input-wrapper {
        margin-bottom: 0;
      }
      .viking-form-item-has-error.viking-form-item-control {
        .viking-input-inner {
          border: 1px solid $danger;
          &:focus {
            box-shadow: $input-focus-box-shadow-error;
          }
        }  
      }
      .viking-form-item-explain {
        position: absolute;
        bottom: -25px;
        left: 0;
        line-height: 25px;
        color: $danger;
        min-width: 100px;
      }
    }
  }
  .viking-form-submit-area { 
    display: flex;
    align-items: center;
    justify-content: center;  
  }

}